@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

h1{
    font-family: 'Rubik Bubbles', cursive;
    letter-spacing: 50px;
    font-size: 60px;
    background-color: antiquewhite;
    text-shadow: 10px 10px 5px peru;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box1{
    width: 250px;
    height: 250px;
    background-color: saddlebrown;
    border-style: solid;
}
.box2{
    width: 250px;
    height: 250px;
    background-color: rgb(246, 193, 155);
    border-style: solid;
}
.box3{
    width: 250px;
    height: 250px;
    background-color: rgb(128, 82, 213);
    border-style: solid;
}
.box4{
    width: 250px;
    height: 250px;
    background-color: rgb(131, 1, 1);
    border-style: solid;
}