@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
body{
    /* background-image:url(https://cdn.pixabay.com/photo/2022/11/08/06/26/woman-7577808_1280.jpg) ; */
    background-attachment: fixed; /*applies to whole page*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(to right, white, darkgreen)
}
#p1{
     /* background-color: rgb(49, 144, 156);  */
    font-size: 30px;
    color: white;
    border-style: double;
    width: 400px;
    height: 400px;
    margin: 50px;
    padding: 10px;
}
#p2{
    background-color:red;
    font-size: 30px;
    color: black;
    border-style: dashed;
    width: 500px;
    height: 500px;
    margin: 50px;
}
#p3{
    background-color: black;
    font-size: 30px;
    color: yellow;
    border-style : "dotted";
    width: 600px;
    height: 600px;
    margin: 50px;

}